@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
body
{
        background: rgba(0,0,0,0.3)url(https://weknowyourdreams.com/images/spring/spring-2.jpg);
        background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: darken;
}
.main
{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.582);
        width: 70%;
        text-align: center;
        border-radius: 20px;
        box-shadow: 5px 5px 20px 5px white;
}
.main h1
{
        font-size: 70px;
        font-family: 'Castoro Titling', cursive;
}
.main h2
{
        margin: 50px;
        text-align: justify;
        font-size: 32px;
        font-family: 'Philosopher', sans-serif;
        line-height: 45px;
        color: aqua;
}
.main img
{
        width: 270px;
        float: right;
        margin-left: 20px;
}
.but a
{
        text-decoration: none;
        color: white;
        margin: 40px;
        font-size: 30px;
        font-weight: 800;
}
button
{
        width: 400px;
        margin: 40px;
        height: 80px;
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 20px 5px rgb(4, 248, 208);
        background-color: black;
}
button:hover
{
        background-color: pink;
}